
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
    justify-content: center;
}

h2{
    font-size: 40px;
    color: #fff;
    height: 60px;
    text-align: center;
    padding: 40px, 60px;
}

button{ 
    cursor: pointer;
    position: relative;
    width: 33%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}